<%- include("partials/header"); -%>

  <h1>Home</h1>
  <p><%= homeContent %></p>

  <table class="table">
    <thead>
      <th>ID</th>
      <th>Interviewer</th>
      <th>Candidate</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Update</th>
    </thead>

  <% allPosts.forEach(function (interview) { %>
          <tbody>
            <tr>
              <td><%= interview._id %></td>
              <td><%= interview.interviewer %></td>
              <td><%= interview.candidate %></td>
              <td><%= interview.start %></td>
              <td><%= interview.end %></td>
              <td><button>
                <a href="/interviews/<%= interview._id %>">Update</a>
              </button></td>
            </tr>
          </tbody>
  <% }) %>
    </table>

<%- include("partials/footer"); -%>


